.card {
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    background-color: azure;
    box-shadow: 2px 3px 5px 0 rgba(14, 13, 13, 0.9);
    padding: 10px;
}

.card ul li{
    list-style: none;
    font-size: 1.2rem;
}

.card img {
    height: 250px;
    width: 250px;
}

.btn {
    margin-top: 10px;
    padding: 2px 25px;
    border-radius: 25px;   
    box-shadow: 2px 3px 5px 0 rgba(14, 13, 13, 0.9);
}

.btn:hover {
    border: 1px solid;
}