<div class="container">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td><a [routerLink]="['/user-detail', user.login.uuid]">{{ user.name.first }}</a></td>
            <td><a [routerLink]="['/user-detail', user.login.uuid]">{{ user.name.last }}</a></td>
            <td><a [routerLink]="['/user-detail', user.login.uuid]">{{ user.email }}</a></td>
            <td><a [routerLink]="['/user-detail', user.login.uuid]">{{ user.phone }}</a></td>          
        </tr>
    </tbody>
</div>
